{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'marketplace/css/product_create.css' %}">
{% endblock %}


{% block content %}
<div class="container py-5">
    <h2>{% if product %}Edit{% else %}Create{% endif %} Product</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <label for="images">Upload Images:</label>
        <input type="file" name="images" id="images" multiple class="form-control">

        <button type="submit" class="btn btn-success mt-3">Save</button>
    </form>
</div>
{% endblock %}
